* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2f2f;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #000;
  margin-bottom: 7px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left h1 {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.left p {
  margin: 16px 0px 0px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-left: 180px;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  z-index: 1;
}

.right video {
  position: absolute;
}

.leftsec {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(mobile-0819.jpg);
  background-repeat: no-repeat;
}

.sec {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.sec h1 {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.sec p {
  margin-top: 16px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.rightsec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-image: url(device-pile.png);
  background-repeat: no-repeat;
}

.leftthird {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(3.png);
  background-repeat: no-repeat;
}

.firstBlock {
  width: 100%;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  position: relative;
  margin-bottom: 7px;
}

.coverImage {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  filter: brightness(0.2);
}

.headerWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
}

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
}

svg {
  width: 148px;
}

.headerClicker {
  display: flex;
  gap: 15px;
}

.languageSelect {
  font-size: 17px;
  border-radius: 3px;
  padding: 3px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 4px;
  width: fit-content;
}

.languageSelect option {
  color: black;
}

#singIn {
  background-color: rgb(229, 9, 20);
  color: #fff;
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 7px;
}

#singIn:hover {
  background-color: rgb(171, 11, 11);
}

.netflixSvg {
  display: flex;
  justify-content: start;
}

.membership {
  width: 70%;
  position: absolute;
  z-index: 10;
  top: 18%;
  left: calc(50% - 35%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.membershipwrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  font-size: 4.3rem;
  color: #fff;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 800;
}

.membershipwrapper h3 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.membershipwrapper p {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.emailInput {
  margin: 0 0 0 300px;
  background-color: rgba(20, 21, 21, 0.748);
  border: 1px solid black;
  width: 480px;
  height: 55px;
  color: #ffffff;
  font-size: 2rem;
}

.entrance {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.getStarted {
  width: 200px;
  font-size: 25px;
  background-color: rgb(229, 9, 20);
  color: #fff;
}

.getStarted:hover {
  background-color: rgb(171, 11, 11);
}

.box {
  width: 100%;
  min-height: 100px;
  background-color: rgb(45, 45, 45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
}

.bigbox {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
}

.maintwo:hover {
  background-color: rgb(80, 80, 80);
}

.box p {
  color: #ffffff;
  font-size: 30px;
  font-family: inherit;
}

.content {
  display: none;
  width: 100%;
  cursor: default;
}

.plus {
  color: white;
  font-size: 4rem;
}

.rotate {
  transform: rotate(45deg);
}

h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  margin: 70px 0 20px 0;
}

p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
}

.secBlock {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 70%;
  height: 100%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner p {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

.flex {
  display: flex;
  gap: 100px;
}

.line {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: underline;
}

h4 {
  font-size: 0.875rem;
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.entranceTwo {
  display: flex;
  margin-right: 200px;
  margin-bottom: 50px;
  gap: 10px;
}

@media (max-width: 1280px) {
  .header {
    justify-content: space-between;
  }
}

@media (max-width: 960px) {
  .membership {
    text-align-last: none;
  }
  .membership h3 {
    font-size: 1.25rem;
  }
  .membership p {
    font-size: 2rem;
  }
}

@media (max-width: 1300px) {
  .left p {
    margin-left: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 50%;
  }

  .right {
    width: 100%;
    height: 50%;
  }
}
