* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstBlock {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  position: relative;
}

.coverImage {
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
  filter: brightness(0.2);
}

.headerWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
}

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
}

svg {
  width: 148px;
}

.headerClicker {
  display: flex;
  gap: 15px;
}

.lenguageSelect {
  font-size: 17px;
  border-radius: 3px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 4px;
}

#singIn {
  background-color: rgb(229, 9, 20);
  color: #fff;
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 7px;
}

#singIn:hover {
  background-color: rgb(171, 11, 11);
}

.netflixSvg {
  display: flex;
  justify-content: start;
}

.membership {
  width: 80%;
  position: absolute;
  z-index: 10;
  top: 18%;
  right: 40px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.membershipwrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 4.3rem;
  color: #fff;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 800;
}

.membershipwrapper h3 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.membershipwrapper p {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.emailInput {
  background-color: rgba(20, 21, 21, 0.748);
  border: 1px solid black;
  width: 480px;
  height: 55px;
}

.entrance {
  display: flex;
  gap: 10px;
}

.getStarted {
  width: 200px;
  font-size: 25px;
  background-color: rgb(229, 9, 20);
  color: #fff;
}

.getStarted:hover {
  background-color: rgb(171, 11, 11);
}
.before {
  width: 110%;
  height: 150px;
  display: flex;
  position: relative;
  border-radius: 50%;
  border-top: 5px solid red;
  position: absolute;
  top: 750px;
  left: -5%;
  background-color: black; /* Black background */
  overflow: hidden;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
}

.before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height of the shadow as needed */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  ); /* White shadow gradient */
  z-index: -1;
}
